$yellow: #e6d527; /*definimos una variable*/
$red: #d4382c ;
$verde: #50bd1e;


@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    /*margin-top: 50px;*/
    @include margenes(50px, 0px);
}



footer {
    padding: 10px 10px 0 10px;
    background-color: $red;
    /*margin-bottom: 0px;
    margin-top: 10px;*/
    @include margenes(50px, 0px);
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 5px 2px 5px;*/
    /* margin-top: 10px;*/
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icono {
    padding-right: 10px;
    background-color: $verde;
}

.tab-content {
    padding-top: 10px;
}

.card-hotel {
    background-color: $verde;
}