@yellow: #e6d527;

.margenes($top: 0px, $bottom: 0px) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: #e6d527;
    color: black;
    /*margin-top: 50px;*/
    /*margin-top: 50px;
    margin-bottom: 0px;*/
    margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #d4382c;
    /*margin-bottom: 0px;
    margin-top: 10px;*/
    /*margin-top: 50px;
    margin-bottom: 0px;*/
     margenes(10px, 0px);
}

.card-hotel {
    flex: 1 200px;
    /*padding: 2px 5px 2px 5px;*/
    /* margin-top: 10px;*/
    /*margin-top: 10px;
    margin-bottom: 0px;*/
    margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icono {
    padding-right: 10px;
    background-color: #9bdead;
}

.tab-content {
    padding-top: 10px;
}

.card-hotel {
    background-color: #9bdead;
}
